extends layout

block content
 h1 Category: #{category.name}

 hr
 p
   a(href=category.url+'/delete') Delete category
 p 
   a(href=category.url+'/update') Update category 

 div(style='margin-left:20px;margin-top:20px')

 h3 Products 

 if category_products.length
    dl 
      each product in category_products
        dt 
          a(href=product.url) #{product.title}
        dd #{product.description}

 else
    p no products in this category.