extends layout 

block content 

  h1 #{title}: #{product.title} 

  if product_in_instances.length 

    p #[strong Delete following productInstances before deleting Product.] 
    div(style='margin-left:20px;margin-top:20px') 
      h4 Products. 
      dl 
        each product in product_in_instances 
            dt 
              a(href=product.url) #{product.url} 
            dd #{product.price} 
  else 
    p Do you really want to delete this Product? 

    form(method="POST")
      div.form-group 
        input#productId.form-control(type='hidden',name='productId',value=product._id)
    
      button.btn.btn-primary(type='submit') Delete