extends layout

block content
 h1 #{product.title}

 p #[strong Description:] #{product.description}
 p #[strong Price:] #{product.price}$
 p #[strong Category:]
    each val, index in product.category
      a(href=val.url) #{val.name}
      if index < product.category.length - 1
        |,&nbsp;

 div(style='margin-left:20px;margin-top:20px')
    h2 Pieces 

    each val in product_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Out Of Stock'
        p.text-danger #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      if val.status!='Available'
        p #[strong In Stock:] #{val.in_stock_formatted}
      p #[strong Id: ]
        a(href=val.url) #{val._id}
        p
          a(href=product.url+'/delete') Delete Product
        p
          a(href=product.url+'/update') Update Product
    else
      p no instances


